<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  
  <title>Radix-channels</title>
  
</head>

<body>
   
  <section id="lateral">
    <img id="images" src="/static/images/snapdots_logo.png"/>
    
    <div class="title">
      <h2>SnapDots</h2>
      <h3>Environmental Monitoring</h3>
    </div>

   </section>

  <section id="principal">
  <div class="container">
        <h3>Sensor Reading</h3>
  </div>
  <div class="sensors">
    <span class="readings">
      <strong id="sensor">Values= {{sensor}} </strong>
    </span>
  </div>
  </section>
  
  <script type= "text/javascript" src= "/static/pool/jquery-1.12.1.min.js"></script>
  <script type= "text/javascript" src= "/static/pool/reconnecting-websocket.js"></script>
  <script type= "text/javascript" src= "/static/pool/sensors.js"></script>

</body>

</html>
